@import "../../styles/variables.scss";

.news {
  display: grid;
  margin: 0 auto;
  padding: 0.5rem;

  @media (min-width: $breakpoint-md) {
    width: 90%;
    padding: 1rem;
  }

  @media (min-width: $breakpoint-lg) {
    width: 80%;
  }

  @media (min-width: $breakpoint-xl) {
    width: 60%;
  }
}
